<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AutoSite</display-name>
	<servlet>
		<description>
		</description>
		<display-name>index</display-name>
		<servlet-name>index</servlet-name>
		<servlet-class>Servlets.index</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha.jpg</url-pattern>
</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Index</display-name>
		<servlet-name>Index</servlet-name>
		<servlet-class>Servlets.Index</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Gallery</display-name>
		<servlet-name>Gallery</servlet-name>
		<servlet-class>Servlets.Gallery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Zakaz</display-name>
		<servlet-name>Zakaz</servlet-name>
		<servlet-class>Servlets.Zakaz</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestDrive</display-name>
		<servlet-name>TestDrive</servlet-name>
		<servlet-class>Servlets.TestDrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TehO</display-name>
		<servlet-name>TehO</servlet-name>
		<servlet-class>Servlets.TehO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gallery</servlet-name>
		<url-pattern>/Gallery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Zakaz</servlet-name>
		<url-pattern>/Zakaz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestDrive</servlet-name>
		<url-pattern>/TestDrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TehO</servlet-name>
		<url-pattern>/TehO</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
